<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Titre par défaut
			{% endblock %}
		</title>
		<link href="{{asset('css/style.css')}}" rel="stylesheet"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<ul>
				{% for item in menuItems %}
					<li>
						<a href="{{path(item.route)}}">{{ item.label }}</a>

					</li>

				{% endfor %}
			</ul>

			{% block body %}


				{% block javascripts %}{% endblock %}
			{% endblock %}
			<div class="footer">
				© 2023 Abel VICTOR. Tous droits réservés.</div>

		</body>
	</html>
