{% extends 'base.html.twig' %}

{% block title %}Formulaire
{% endblock %}

{% block body %}
	<h1>Ajouter une pièce</h1>

	{{ form_start(form) }}

	{{ form_widget(form) }}
	<br>
	<button class="" type="submit">Envoyer</button>

	{{ form_end(form) }}


{% endblock %}
